@import "_variables";

body {
  text-align: center;

  ul {
    li {
      display: inline-block;
      padding: 10px 30px;
    }
  }
  a {
    text-decoration: none;
    color: $brand-dark-grey;
  }

  nav {
    text-transform: uppercase;
    height: 50px;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: $brand-blue;
    z-index: 1;

    -webkit-box-shadow: 0px 0px 25px 2px rgba(72,64,87,1);
    -moz-box-shadow: 0px 0px 25px 2px
    rgba(72,64,87,1);
    box-shadow: 0px 0px 25px 2px rgba(72,64,87,1);

    a {
      color: $brand-cream;
    }
  }

  header {
    margin-top: 50px;
    height: 500px;
    background-image: url('../images/pink-geometric.jpg');
    background-size: cover;

    .cardMain{
      background-color: $brand-cream;
      transform: translate(0%, 40%);
      padding: 50px 20px;

      -webkit-box-shadow: 0px 0px 30px 1px rgba(72,64,87,1);
      -moz-box-shadow: 0px 0px 30px 1px
      rgba(72,64,87,1);
      box-shadow: 0px 0px 30px 1px rgba(72,64,87,1);

      h1, h2 {
        text-transform: uppercase;
      }
      h2 {
        font-size: 24px;
      }
    }
  }

  #tech, #projects, #contact {
    padding-top: 50px;
    h2 {
      text-transform: uppercase;
    }
  }

  #tech {
    p {
      text-align: left;
    }
  }

  #projects {
    background-color: $brand-gold;
    padding: 50px 20px;
    margin-top: 50px;

    .project {
      margin-top: 50px;
      padding: 20px;
      h3 {
        a {
          padding: 10px;
        }
        a:hover {
          color: $brand-gold;
          background-color: $brand-blue;
        }
      }
      img {
        width:100%;
      }
    }
  }

  #contact {
    a {
      padding: 10px;
    }
    a:hover {
      color: $brand-cream;
      background-color: $brand-blue;
    }
  }

  footer {
    background-color: $brand-blue;
    color: $brand-cream;
    padding-top: 3%;
  }
}
